<!-- needs a @user object -->
<form class="logout-form" action="/users/<%= current_user.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE" />
  <input class="logout-button" type="submit" value="Logout">
</form>

