<h1>Log In</h1>

<% if flash[:error]%>
  <p class="error-message"><%=flash[:error]%></p>
<% end %>

<form action="/users/login" method="POST">
  <table>
    <%= erb :"users/_form" %>
  </table>
</form>
