<table class="profile_tb">
  <td>
    <% if @user.img_src == "" %>
      <img class="profile_icon" src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/1772/ninja-simple-512.png"?>
    <% else %>
      <img class="profile_icon" src="<%= @user.img_src %>">
    <% end %>
  </td>
  <td>
    <% if !(@user.first_name == "") %>
      First Name: <%= @user.first_name %><br>
    <% end %>
    <% if !(@user.last_name == "") %>
      Last Name:  <%= @user.last_name %><br>
    <% end %>
    Email:  <%= @user.email %><br>
  </td>
</table>
