<h1>Sign Up</h1>
<form action="/users" method="POST">
  <table>
    <tr>
      <td><input type="text" name="user[first_name]" placeholder="first name"></td>
    </tr>
    <tr>
      <td><input type="text" name="user[last_name]" placeholder="last name (optional)"></td>
    </tr>
    <tr>
      <td><input type="text" name="user[img_src]" placeholder="avatar (optional)"></td>
    </tr>
    <tr>
      <td><input type="text" name="user[city]" placeholder="city (optional)"></td>
    </tr>
    <tr>
      <td><input type="text" name="user[country]" placeholder="country (optional)"></td>
    </tr>
    <%= erb :"users/_form" %>
  </table>
</form>
