<form class="choice-form" action="/choices" method="POST">
  <p><input type= "text" name="choice[content][]" placeholder= "choice" class= "choice-input"></p>
  <p><input style="display: none;" type="submit" value="choice"></p>
</form>

