<div class="question-container">
	<p><input type= "text" name="question[content]" placeholder= "question"></p>


  <%= erb :"/surveys/_choice" %>
  <%= erb :"/surveys/_choice" %>
  <p class="append-choice-above"></p>


	<p><a class="append-choice" class="choice-input" href="/choices/new">Add Choice</a></p>
</div>

