<form class="question-form" action="/questions" method="POST">
  <p><input type= "text" name="question[content]" placeholder= "question"></p>
</form>

<%= erb :"/surveys/_choice" %>
<%= erb :"/surveys/_choice" %>
<p><a class="append-selection" class="choice-input" href="/choices/new">Add Choice</a></p>
