<h1>Create New Survey</h1>
<form action="/surveys" method="POST">
  <table>
    <%= erb :"/surveys/_form", locals: { survey: @survey } %>
    <tr><td><input type="submit" value="Save Survey"></input></td></tr>
  </table>
</form>
