<div class="container">
  <h6>Welcome to our homepage!</h6>
  <h3>Please click around to familarize yourself with our website</h3>
  <a href="survery/new">Create a new survey</a>
  <div class="spacer"></div>
  <a href="survey/index">Take a survey</a>
</div>
